---
// import { getCollection } from 'astro:content'
// import PostItem from '../../components/post/PostItem.astro'
// import BaseLayout from '../../layouts/BaseLayout.astro'
// import { formatPast, formatTime } from '../../libs/support'
// import { marked } from 'marked'
// import Prose from '../../components/post/Prose.astro'
// import { SiteConfig } from '../../ilvme.config'
//
// const allPosts = await getCollection('essays')
//
// const res = await fetch(`${import.meta.env.MEMOS_API_URL}/memos`, {
//   method: 'GET',
//   headers: {
//     'Content-Type': 'application/json',
//     Authorization: `Bearer ${import.meta.env.MEMOS_TOKEN}`,
//   },
// })
//
// const data = await res.json()
// const { memos, nextPageToken } = data
// console.log('数据: ', memos[1])
import BaseLayout from '../../layouts/BaseLayout.astro'
import PageHero from '../../components/post/PageHero.astro'
import Decorating from '../../components/ui/Decorating.astro'
import { getAllPosts1 } from '../../libs/notion/support'
import { convertWithMedia } from '../../libs/notion/fetch-posts'

const ps = await getAllPosts1('1a5c485ef35680c0a8e1d353b5bfc864')
const posts = ps.filter((p) => p.slug)

const startTime = Date.now()
// posts.map(async (p) => {
//   await convertWithMedia(p)
// })
// await convertWithMedia(posts[0])

const endTime = Date.now()

console.log(`===数据: [${posts.length}]===总耗时（s）: `, (endTime - startTime) / 1000)
---

<BaseLayout>
  <!--<div class="space-y-6">-->
  <!--  {-->
  <!--    memos.map((memo) => (-->
  <!--      <div class="flex flex-col gap-2">-->
  <!--        <div class="rounded-2xl border p-4">-->
  <!--          <p class="text-sm text-gray-400">{formatPast(memo.createTime)}</p>-->
  <!--          <Prose>-->
  <!--            <article set:html={marked(memo.content)} />-->
  <!--          </Prose>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    ))-->
  <!--  }-->
  <!--</div>-->

  <PageHero title="说说">
    <p class="text-secondary text-sm">
      说说（Daily Words)：一句话叙当前所历之事，一句话抒此刻难言之情，一句话吐所遇违心之槽。
    </p>
  </PageHero>

  <Decorating />

  <!--<WordCard />-->
</BaseLayout>
