---
import BaseLayout from './BaseLayout.astro'
import { formatDate } from '../libs/support'
import PostToc from '../components/post/PostToc.astro'
import PageHero from '../components/post/PageHero.astro'
const { frontmatter, headings } = Astro.props
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <PageHero title={frontmatter.title}>
    <span class="">{formatDate(frontmatter.date)}</span>

    {frontmatter.tags.map((tag: string) => <a href={`/tags/${tag}`}>#{tag}</a>)}
  </PageHero>

  <slot />

  {headings.length > 0 && <PostToc headings={headings} />}
</BaseLayout>
